.App {
  text-align: center;
  margin: 100px auto;
  width: 300px;
}

.result {
  background-color: rgb(225, 211, 211);
  color: white;
  padding: 10px;
  font-size: 30px;
  width: 275px;
  height: 40px;
  text-align: right;
  border: 3px solid black;
}

.button {
  background-color: rgb(18, 14, 14);
  height: 60px;
  width: 100px;
  color: white;
  font-size: 25px;
  border: 1px solid black;
  float: left;
}

.button1 {
  width: 150px;
}